[Unit]
Description=NAS Control Web Application
After=network.target

[Service]
Type=simple
User=jitrack
WorkingDirectory=/home/jitrack/NASControl
Environment="PATH=/home/jitrack/NASControl/PythonEnv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/jitrack/NASControl/PythonEnv/bin/python /home/jitrack/NASControl/app.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
